<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%t] %c{1} - %msg%n"/>
        </Console>

        <File name="SearchStation" fileName="logs/search.log">
            <MarkerFilter marker="SearchingStations" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="SearchStationsNotFound" fileName="logs/input_errors.log">
            <MarkerFilter marker="StationsNotFound" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="Exception" fileName="logs/exceptions.log">
            <MarkerFilter marker="Exceptions" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>

    <loggers>
        <appender-ref ref="SearchStations"/>
        <appender-ref ref="SearchStationsNotFound"/>
        <appender-ref ref="Exception"/>
    </loggers>

</configuration>
